
@font-face {
    font-family: 'Tieldsa-Regular';
    src: url('/public/fonts/Tieldsa-Regular-BF67662d25f2312.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}




.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

#initial { 
    text-decoration: underline;
    color: #b5771a;
    font-size: 4rem; /* Reduced from 5rem */
    font-weight: 100;
    font-family: 'Tieldsa-Regular', sans-serif;
    line-height: 1; /* Add this */
    margin: 0; /* Add this */
    padding: 0; /* Add this */
    display: flex; /* Add this */
    align-items: center; /* Add this */
}


.nav-logo {
    margin-left: .7rem;
}
#con{
    font-size: 36px;
    
}
.star-logo {align-items: center;
    fill: rgb(212, 0, 255);
    animation: rotateStar 1s linear infinite;
}



@keyframes rotateStar {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.nav-links {
    font-family: 'kurov-light';
    display: flex;
    gap: 1.4rem;
    padding-right: 3rem;
    overflow: hidden;
}

.nav-links a {  font-family: 'kurov-light';
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.2s ease;
}

.nav-links a:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    
    .nav-container {
        padding: 1rem;
    }

    .nav-links {
        gap: .7rem;
        padding-right: 1rem;
    }
    #initial {
        font-size: 2rem;
    }
    .nav-logo h1 {
        font-size: 1rem;
    }

    .github-icon, .linkedIn-icon {
        width: 18px;
        height: 18px;
    }
    #con{
        font-size: 24px;
    }
}